<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}{% if not override_title %} - Anthony Som's tunes{% endif %}</title>
    <style>{{ global_styles|safe }}</style>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
